<!DOCTYPE html>
<html lang="en">
<head>
     <title>Virtual Trail Romm</title>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/collection.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> 
     
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bytewebster-style.css') }}"> 
     
     <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>

     <!-- HOME -->
          <section id="home" data-stellar-background-ratio="0.5">
          <div class="container">
               <a href=""><button class="button-01">Home</button></a>
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="home-info">
                              <h1 style="font-size: 70px;font-weight:bold;margin-top:2px">Collections...</h1>
                              <a href="t">
                              <div class="category-item">
                                   <span style="color:black">Formals</span>
                                   <button>Try On >> </button>
                              </div>
                              </a>
<br>
                              <a href="w">
                              <div class="category-item">
                                   <span style="color:black">Summer</span>
                                   <button>Try On >> </button>
                              </div>
                              </a>
<br>
                              <a href="c">
                              <div class="category-item">
                                   <span style="color:black">Winter</span>
                                   <button>Try On >> </button>
                              </div>
                              </a>

                              

                                   
                              <!--
                              <br>
                              <div class="card">
                                   <img src="https://images.pexels.com/photos/158063/bellingrath-gardens-alabama-landscape-scenic-158063.jpeg?cs=srgb&dl=pexels-pixabay-158063.jpg&fm=jpg" alt="">
                                   <div class="content">
                                     <h2>CARD</h2>
                                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsam tempora, officia, inventore accusantium autem quisquam exercitationem voluptas quia provident? Cupiditate illo sed, et natus ipsum, beatae. Quas eum, molestiae.</p>
                                   </div>
                                 </div>
                              -->   
                                 

                         <!--     <a href="#about" class="btn section-btn smoothScroll">Hire Us Now</a>
                              <span>
                                   CALL US (+91) 123-456-7890
                                   <small>For any inquiry</small>
                              </span>-->
                         </div>
                    </div>                    
               </div>
          </div>
     </section>

     

     <!-- MODAL -->
     

     <!-- SCRIPTS -->
     <script src="js/jquery.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/jquery.stellar.min.js"></script>
     <script src="js/jquery.magnific-popup.min.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>

</body>
</html>